body {
    box-sizing: border-box;
    margin: 0;
    padding: 80px 10px;
    background-color: grey;
}


#loginBack {

    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    flex: 50%;
}

h1 {
    text-align: center;
    color: white;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid black;
}

th,
td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
}


@media (max-width: 800px) {
    .flex-item {
        flex: 100%;
        padding-left: 20px
    }

    #loginBackr {
        flex-direction: column;
    }

    h1 {
        text-align: left;
        padding-bottom: 30px;
    }
